* {
  border: none;
  padding: none;
  margin:0;
}

div {
  /* border: 1px solid green; */
}

/* zomato card */

.card {
  width: 550px;
  padding: 18px;
  margin: 25px auto;
  border-radius: 24px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  font-family: Boing, Rubik, sans-serif;
}

.img-container{
    position: relative;
}

.card-img {
  width: 100%;
  border-radius: 24px;
  box-sizing: border-box;
}
.card-offer {
  background-color: royalblue;
  padding: 4px 12px;
  margin: 0;;
  width: fit-content;
  color: white;
  position: absolute;
  left:0;
  bottom:24px;
  font-size: 18px;
}

.eta{
    padding:6px 8px;
    border-radius: 8px;
    background-color: whitesmoke;
    position: absolute;
    right:24px;
    bottom:24px;
    font-size: 18px;
}

.card-desc{
    padding:16px 0;
}

.card-hdr{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 12px;

}


.card-dtl{
    font-size: 22px;
}


.card-btm {
    border-top: 2px solid lightgray;
    padding: 14px 0;
    display: flex;
    align-items: center;
  }



.safety-img {
  margin-right: 24px;
  width: 80px;
  height: 30px;
}

.safety-dtl {
    font-size: 20px;
}

.clr-grey {
  color: gray;
}
